/* General and default image blending */

.theme-dark img {
  display: block;
  max-width: 80%;
  padding: 0 auto 0 auto;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: screen;
  filter: opacity(1);
}

.theme-light img {
  display: block;
  max-width: 80%;
  padding: 0 auto 0 auto;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: multiply;
  filter: opacity(0.95);
}

/*Emblemed images blending tweaks */

.theme-dark .popover.hover-popover .markdown-preview-view img {
  mix-blend-mode: screen;
  /*filter: opacity(1);*/
}

.theme-light .popover.hover-popover .markdown-preview-view img {
  mix-blend-mode: multiply;
  /*filter: opacity(0.95);*/
}

/* Image dynamic colors inversion */

.theme-dark span[src$="invert_B"] img{
filter: invert(1) hue-rotate(180deg);
}

.theme-dark img[alt$="invert_B"]{
  filter: invert(1) hue-rotate(180deg);
}

.theme-light span[src$="#invert_W"] img{
filter: invert(1) hue-rotate(180deg);
}
.theme-light img[alt$="invert_W"]{
  filter: invert(1) hue-rotate(180deg);
}

.theme-dark span[src$="invert_B_C"] img{
filter: invert(1) hue-rotate(180deg) contrast(1.5);
}
.theme-dark img[alt$="invert_B_C"]{
filter: invert(1) hue-rotate(180deg) contrast(1.5);
}

.theme-light span[src$="#invert_W_C"] img{
filter: invert(1) hue-rotate(180deg) contrast(1.45);
}
